<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <h1>이미지 업로드</h1>

    <p>현재 세션 ID: {{ session_id }}</p>

<!--    {%with messages = get_flashed_messages()%}-->
<!--        {%if messages %}-->
<!--            <script type="text/javascript">-->
<!--              alert("{{messages}}");-->
<!--            </script>-->
<!--        {%endif%}-->
<!--    {%endwith%}-->

    <!-- 이미지 업로드 폼 -->
    <form action="{{ url_for('upload.upload_image') }}" method="POST" enctype="multipart/form-data">
        <label for="image">이미지 파일 선택 (JPG 형식):</label><br>
        <input type="file" id="image" name="image" accept=".jpg, .jpeg" required><br><br>
        <button type="submit">시작하기</button>
    </form>


    <form method="GET" action="/logout">
        <p>로그인 상태입니다.</p>
        <button type="submit">로그아웃</button>
    </form>
</body>
</html>
